html {
    scroll-behavior: smooth;
  }

  body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Georgia, Serif;;
  letter-spacing: 5px;
}

p{
    font-size: 19px;
}

.navbar-brand{
    font-size: 22.5px;
    letter-spacing: 0px;
}
.container-card{
    width: 100%;
    height: 50%;
}

.navbar-nav{
    font-size: 16px;
  
}

a.nav-link{
    padding-right: 50px;
}

* {
    box-sizing:border-box;
  }

  .container , section{
    padding: 50px;
    
  }
  
  .row:after , section{
    content: "";
    display: table;
    clear: both
  }
  
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
    margin: auto;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
    margin: auto;
  }
  img {
    display: block;
    text-align: center;
    height: auto;
    max-width: 100%;
  }
  .container-testimonial{
    padding:10px;
    width: 110%;

  }
  
  
#demo {
  background: linear-gradient(112deg, #ffffff 50%, #f0f4f5 50%);
  max-width: 900px;
  margin: auto
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;

}

@media(max-width:767px) {
  .carousel-caption {
      position: initial;
      z-index: 10;
      padding: 3rem 2rem;
      color:rgba(0, 0, 0, 0.685);
      text-align: center;
      font-size: 18px;
      font-style: italic;
      font-weight: bold;
      line-height: 1.5rem
  }
}

.carousel-caption img {
  width: 175px;
  border-radius: 50%;
  margin-top: 2rem
}

@media(max-width:767px) {
  .carousel-caption img {
      width: 4rem;
      border-radius: 4rem;
      margin-top: 1rem
  }
}

#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem
}

@media(max-width:767px) {
  #image-caption {
      font-style: normal;
      font-size: 0.6rem;
      margin-top: 0.5rem
  }
}

i  {
  background-color:rgba(105, 105, 105, 0.425);
   padding: 1.4rem
}

.fa {
  opacity: .8;
  padding: 10px;
  font-size: 20px;
  margin: 10px auto;
  width: 20%;
  border: 1px solid black;
  height: auto;
 
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
} 

.contact{
  margin: auto;
  text-align: center;
  align-items: center;
}

.fa-facebook {
  background: radial-gradient(#3b5998  , #0084FF);
  color: white;
}
.fa-phone {
  align-items: center;
  background: radial-gradient(#57e86b  , #a9f36a);
  color: white;
}
.fa-map {
  background: radial-gradient( rgb(43, 41, 41)  ,white);
  color: white;
}

.fa-google {
  background: radial-gradient( #b23121  ,#f07267);
  color: white;
}

.fa-eye{
  opacity: .8;
  padding: 10px;
  font-size: 20px;
  margin: 10px auto;
  width: 20%;
  border: 1px solid black;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(112deg, #ffffff 50%, #f0f4f5 50%);
  color:black;
}


@media(max-width:767px) {
  i  {
      padding: 0.8rem
  }
  
  p{
    font-size: 15px;
    
  }
  h1{
    font-size: 22.5px;
    letter-spacing: 2.5px;
  }
  h5{
    font-size: 18px;
    letter-spacing: 2.5px;
  }
}

.carousel-control-prev {
  justify-content: flex-start
}

.carousel-control-next {
  justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset
}
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33,
    .contact,
    .fa{
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
 
 



